# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# macOS system files
.DS_Store
._*

# Python environment package files
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook output
*.nbconvert.ipynb

# Notebook metadata
*.metadata.json

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

mapf_benchmarks/

results/