# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store
._*

# Python environment package files
*.egg
*.egg-info/
dist/
build/
*.whl

# Logs and temporary files
*.log
*.tmp

# Notebooks
/notebooks

# Jupyter Notebook output
*.nbconvert.ipynb

# Notebook metadata
*.metadata.json

# Pyright
pyrightconfig.json

# Todos
todos.txt

# Outputs
# outputs/*
